<!DOCTYPE html>
<html layout:decorator="layout" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
	<title>Insert title here</title>
	<style type="text/css">
		hr{
			  margin-top: 10px !important;
  			  margin-bottom: 5px !important;
		}
		table td
		{
			  padding-left: 5px !important;
		}
	</style>
</head>
<body>
	<!-- /* Content of this page will be decorated by the elements of layout.html (task/layout) */ -->
	<div layout:fragment="sidebar">
    	<div th:replace="fragments/sidebar :: sidebar">
    	</div>
    </div>
    <div layout:fragment="content">
		<div class="row">
			<h3 th:text="${patient.name}"></h3> <a th:href="@{/patient/status/}+${patient.id}+'/'+${patient.visitStatus}" th:text="${patient.visitStatus}? 'Checkout' : 'Checkin'"> </a>
			<hr/>
			<!--  div class="col-md-1">Date of birth :</div>
  <div class="col-md-2"><b> <span th:text="${patient.dateOfBirth}"></span></b></div>
  <div class="col-md-1">Age:</div>
  <div class="col-md-1"><b><span th:text="${patient.age}"></span></b></div>
  <div class="col-md-1">Address:</div>
  <div class="col-md-1"><b><span th:text="${patient.address}"></span></b></div>
  <div class="col-md-1">Hieght:</div>
  <div class="col-md-1"><b><span th:text="${patient.hieght}"></span></b></div>
  <div class="col-md-1">Weight:</div>
  <div class="col-md-1"><b><span th:text="${patient.weight}"></span> </b></div -->

			<table cellpadding="3">
				<tr>
					<td>Date of birth : </td><td> <b> <span th:text="${patient.dateOfBirth}"></span></b>,</td>
					<td>Age:</td><td><b><span th:text="${patient.age}"></span></b>,</td>
					<td>Address:</td><td><b><span th:text="${patient.address}"></span></b>,</td>
					<td>Height:</td><td><b><span th:text="${patient.hieght}"></span></b>,</td>
					<td>Weight:</td><td><b><span th:text="${patient.weight}"></span> </b></td>
				</tr>
			</table>
			
		</div>
		<div class="row">
			
  				<h3>Add Clinical information</h3>
  				<hr/>
			
			<button type="button" class="btn btn-default btn-xs">Add prescription</button>
			<button type="button" class="btn btn-default btn-xs">Add test result</button>
		</div>
		<div class="row">
			
  				<h3>Medical history</h3>
  				<hr/>
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Collapsible Group Item #1
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Collapsible Group Item #2
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>	
			
		</div>
	</div>
</body>
</html>