<!DOCTYPE html>
<html layout:decorator="layout" xmlns:th="http://www.thymeleaf.org" >
<head>
	<meta charset="ISO-8859-1" />
	<meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    
	<title>Insert title here</title>
	<style type="text/css">
		hr{
			  margin-top: 10px !important;
  			  margin-bottom: 5px !important;
		}
		table td
		{
			  padding-left: 5px !important;
		}
		.panel-title {
  			font-size: 14px !important;
		}
		#addprescription .panel {
    		margin-bottom: 0 !important;
		}
	</style>
	<script th:src="@{/scriptlib/hrms/angular/hmis.prescription.controller.js}"></script>
</head>
<body>
	<!-- /* Content of this page will be decorated by the elements of layout.html (task/layout) */ -->
	<div layout:fragment="sidebar">
    	<div th:replace="fragments/sidebar :: sidebar">
    	</div>
    </div>
    <div layout:fragment="content">
		<div class="row">
			<h3>
				<span th:text="${patient.name}"></span> 
				<small><span th:if="${patient.visitStatus}" class="label label-success">Active</span></small>
				<small><a th:href="@{/patient/status/}+${patient.id}+'/'+${patient.visitStatus}" th:text="${patient.visitStatus}? 'Checkout' : 'Checkin'"> </a></small>
			</h3> 
			<hr/>
			<!--  div class="col-md-1">Date of birth :</div>
  <div class="col-md-2"><b> <span th:text="${patient.dateOfBirth}"></span></b></div>
  <div class="col-md-1">Age:</div>
  <div class="col-md-1"><b><span th:text="${patient.age}"></span></b></div>
  <div class="col-md-1">Address:</div>
  <div class="col-md-1"><b><span th:text="${patient.address}"></span></b></div>
  <div class="col-md-1">Hieght:</div>
  <div class="col-md-1"><b><span th:text="${patient.hieght}"></span></b></div>
  <div class="col-md-1">Weight:</div>
  <div class="col-md-1"><b><span th:text="${patient.weight}"></span> </b></div -->

			<table>
				<tr>
					<td>Date of birth : </td><td> <b> <span th:text="${#dates.format(patient.dateOfBirth, 'dd/MMM/yyyy')}"></span></b>,</td>
					<td>Age:</td><td><b><span th:text="${patient.age}"></span></b>,</td>
					<td>Address:</td><td><b><span th:text="${patient.address}"></span></b>,</td>
					<td>Height:</td><td><b><span th:text="${patient.hieght}"></span></b>,</td>
					<td>Weight:</td><td><b><span th:text="${patient.weight}"></span> </b></td>
				</tr>
			</table>
			
		</div>
		<div class="row">
			
  				<h3>Add Clinical information</h3>
  				<hr/>
			<a class="btn btn-default btn-sm" role="button" data-toggle="collapse" href="#addprescription" aria-expanded="false" aria-controls="addprescription,addtestresult">
  				Add prescription
			</a>
			<a class="btn btn-default btn-sm" role="button" data-toggle="collapse" href="#addtestresult" aria-expanded="false" aria-controls="addprescription,addtestresult">
  				Add test result
			</a>
			<button type="button" class="btn btn-default btn-sm">Add test result</button>
			
			<div th:replace="fragments/add_prescription :: add_prescription">
			</div>
			<div th:replace="fragments/add_test_result :: add_test_result">
			</div>
		</div>
		<div class="row" ng-controller="VisitController as visitCon" th:attr="ng-init='visitCon.init(\''+${patient.id}+'\')'">
  			<h3>Medical history</h3>
  			<hr/>
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			  <div th:class="(${patientVisit.end}!=null)?'panel panel-default':'panel panel-success'" th:each="patientVisit,iterStat: ${patientVisits}">
			    <div class="panel-heading" role="tab" id="headingOne+${iterStat.index}">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" th:href="'#'+collapseOne+${iterStat.index}" aria-expanded="true" aria-controls="collapseOne+${iterStat.index}" th:attr="ng-click='getPrescriptionByPatientAndVisit(\''+${patientVisit.id}+'\')'">
			         <b><span  th:text="'Visit-'+${#lists.size(patientVisits)-iterStat.index}+' '"></span> </b> <span th:text="${#dates.format(patientVisit.start, 'dd/MMM/yyyy HH:mm')}+' - '+((${patientVisit.end}!=null)?${#dates.format(patientVisit.end, 'dd/MMM/yyyy HH:mm')}:'active')"></span>
			        </a>
			      </h4>
			    </div>
			    <div th:id="collapseOne+${iterStat.index}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne+${iterStat.index}">
			      <div class="panel-body">
			        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
			      </div>
			    </div>
			  </div>
			</div>	
		</div>
	</div>
</body>
</html>